.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

span.position {
  height: 20px;
  width: 20px;
  top: 4px;
  left: 6px;
  cursor: grab;
  position: absolute;

 
}
.board span.position{
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.board:hover span.position{
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.board a {
  text-decoration: none;
  color: white;
}
span.position img {
  width: 80%;
  filter: invert(100%);
}
.sortableCursor {
  pointer-events: all !important;
  cursor: grabbing !important;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  overflow: hidden;
}
.board {
  color: white;
  margin: 15px;
  max-width: 220px;
  min-width: 220px;
  min-height: 120px;
  border-radius: 2px;
  background-color: #394989;
  padding: 30px;
  position: relative;
}
.row {
  height: 40px;
  width: 30px;
  margin-right: 7px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.row:nth-child(2) {
  height: 30px;
}
.row:nth-child(3) {
  height: 20px;
}


button.buttonFormBoard {
  width: 100%;
  cursor: pointer;
  text-align: left;
  transition-duration: 0.4s;
  border-radius: 2px;
  background-color: transparent;
  color: white;
  font-size: 1em;
  padding: 5px;
  font-weight: 600;
  border: 0;
}
button.buttonFormBoard:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.formNewBoard{
  max-height: 100%;
}
.formNewBoard input[type="text"].titleNewBoard {
  margin-top: 6px;
  width: 85%;
  padding: 5px;
}
button.buttonCreateBoard, button.buttonCancelBoard{
  margin: 20px 10px 0 0;
  background-color: #389e0d;
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  height: 30px;
  width: 40%;
  border: none;
  border-radius: 2px;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}
button.buttonCreateBoard:hover {
  background-color: #237804;
}
button.buttonCancelBoard{
  background-color: #cf1322;
}
button.buttonCancelBoard:hover {
  background-color: #a8071a;
}
.container{
  flex: 1;
}
.boards {
  padding: 2vh 10%;
  background-color: #3b2e5a;
}
.boards ul{
  display: flex;
  align-items: center;
  min-height: 65vh;
}
.rowContainer{
  display: flex;
}
.trashCan.boardt {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 6px;
  right: 6px;
  filter: invert(100%);
}
@media only screen and (max-width: 48em) {
  .board {
    margin: 10px;
    width: 110px;
    padding-left: 28px;
    padding-top: 30px;
  }
  .boards {
    padding: 0;
    padding-top: 2vh;
    margin: 0;
  }
  input[type="text"].titleNewBoard {
    width: 95%;
    height: 30px;
  }
  .board span.position{
    opacity: 1;
  }

  ul {
    justify-content: center;
  }
  .containerButton {
    height: 45%;
  }
}
