@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Lora", sans-serif;
}
/*contiene blackbackground de newTask*/
/*arreglar background de nueva tarea / editar tarea*/
.boardW {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #394989;
  padding: 2vh;
  position: relative;
  overflow-x: auto;
}
.edit {
  margin: 5px 0;
  width: 15px;
  transition: width .2s ease-in-out
}
.edit:hover {
  cursor: pointer;
  width: 20px;
 ;
}
.trashCan {
  position: absolute;
  top: 8px;
  right: 8px;
  filter: invert(100%);
}
.trashCan.boardhide {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.table:hover .trashCan.boardhide {
  display: block;
}
.trashCan.tablehide {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.table:hover .trashCan.tablehide {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.trashCan.taskhide {
  width: 3.5%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.trashCan.taskhide{
  filter: none;
}
.itemList:hover .trashCan.taskhide {
  opacity: 1;
  transition: opacity .3s ease-in-out;

}
.board:hover .trashCan {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.trashCan:hover {
  cursor: pointer;
}

.newTable {
  border-radius: 3px;
  position: relative;
  min-width: 270px;
  min-height: 45px;
  display: flex;
  padding: 8px;
  
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.45);
}
.newTable form input[type="text"] {
  flex: 1;
  border: none;
  border-radius:3px;
  padding: 8px;
  color: white;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.25);
}
.newTable form label {
  color: white;
}
.newTable input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.35);
  transition: all .3s ease-in-out;
}
.newTable form button, .openForm {
  min-width: 40px;
  border: none;
  background-color: transparent;
  border-radius:3px;
  padding: 8px;
  cursor: pointer;
  color: white;
  transition: background-color .3s ease-in-out;
}
.newTable form  button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.newTable input[type="text"].error {
  border: 1px solid #ff4d4f;
}

.newTable form label.errorNewTable{
  font-size: 0.6em;
  font-weight: 600;
  padding: 8px;
  color: #ff4d4f;
}
.newTable .openForm {
  padding: 8px;
  text-align: left;
  flex: 1;
}
.table {
  /*background-color: #eceff1;*/
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  margin: 0px 16px;
  min-width: 270px;
  max-width: 270px;
  border-radius: 2px;
  position: relative;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.45);
}
.table .title {
  margin: 13px 8px;
  text-transform: capitalize;
}

.table .listContainer {
  margin: 8px;
  border-radius: 5px;
  padding: 0 4px 2px 6px;
}
.table .listContainer .itemList {
  padding: 10px 8px;
  margin-bottom: 8px;  
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  text-align: left;
  position: relative;
  border-radius: 5px;
}
.itemList p.description {
  margin-top: 5px;
  width: 90%;
  font-size: 0.8em;
}
.table hr {
  margin-left: 5%;
  width: 89%;
  color: white;
}
.containerButtonNewTask {
  display: flex;
  justify-content: center;
  margin:8px 0;
}
button.btnNewTask {
  width: 240px;
  border-radius: 5px;
  text-align: left;
  font-size: 1em;
  padding: 10px 6px;
  transition: font-size .2s ease-in-out;
  background-color: #fdede1;
}
button.btnNewTask:hover {
  cursor: pointer;
  background-color: #fdede1;
  font-size: 1.2em;
}
.blackbackground {
  position: fixed;
  z-index: 2;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  width: 25px;
  height: 25px;
  background-color: white;
  font-size: 1.2em;
  color: black;
}
.close:hover {
  background-color: rgba(240, 196, 196, 0.863);

  color: black;
}
.itemList .trashCan {
  top: 14px;
  width: 12px;
  right: 8px;
}
.itemList .titleTask{
  width: 90%;
}
@media only screen and (max-width: 48em) {

  .trashCan.tablehide {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
  .trashCan.taskhide {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
  .trashCan.boardhide {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
  .table .title {
    max-width: 195px;
    margin: 5px 8px;
  }
.table {
  min-width: 230px;
  padding: 6px 1px;
  }
  .table .listContainer .itemList{
    padding: 6px;
  }
  .itemList .trashCan {
    top: 10px;
    width: 12px;
    right: 4px;
  }
}
