header {
  width: 100%;
  height: 7vh;
  background-color: #607d8b;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  overflow: hidden;

  transition: height 0.7s ease-in-out;
}
a {
  text-decoration: none;
  color: white;
}
header a {
  font-size: 1.5em;
  font-style: italic;
  margin-left: 15px;
}
.userNav a {
  font-size: 1.2em;

  margin: 0px 10px;
}
.hide {
  display: none;

  transform: rotate(90deg);
  font-size: 1.5em;

  transition: font-size 0.7s ease, -webkit-transform 0.7s ease;
}

.userNav {
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
}
nav button {
  width: 100px;
  height: 30px;
  border-radius: 2px;

  background-color: #607d8b;
  color: white;
  border: 1px solid #708d81;

  cursor: pointer;
  transition-duration: 0.4s;
}
nav button:hover {
  background-color: #f9f8f8;
  color: #607d8b;
}

.buttons {
  width: 240px;
  justify-content: space-around;
  display: flex;
}
.imgButton {
  width: 15%;
  filter: invert(100%);
}
.showRoute {
  background-color: #b0bec5;
  height: 6vh;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media only screen and (max-width: 48em) {
  header {
    flex-wrap: wrap;
    padding-top: 1.5vh;
    height: 5vh;
  }
  header > * {
    flex: 1 1 50%;
  }
  .userNav {
    justify-content: space-around;
  }
  header.displayNavB2 {
    height: 12.5vh;
  }
  header.displayNavB1 {
    height: 9.3vh;
  }
  .hide {
    display: block;
  }
  .hide.twist {
    font-size: 1em;
  }
  nav {
    padding: 0;
    margin-top: 2vh;
    display: none;
  }
  nav.mobileDisplay {
    display: flex;
  }
  nav .buttons {
    flex-wrap: wrap;
    width: 200px;
  }
  .imgButton {
    width: 7%;
  }
  nav .buttons > * {
    flex: 1 1 50%;
  }
  nav .buttons button {
    margin: 0.1vh 0;
    height: 0.3vh;
    border: none;
    font-size: 0.8em;
    width: 100%;
  }
}
@media only screen and (max-height: 736px) {
  header.displayNavB2 {
    height: 15.3vh;
  }
  header.displayNavB1 {
    height: 13vh;
  }
}
