.updateRes {
  background-color: #9a94bc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  max-height: 20px;
  position: relative;
}
.closeUpdateRes {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 10px;
}
@media only screen and (max-width: 48em) {
  .updateRes{
    height: 30px;
  }
}
