.updateMessage{
  position: absolute;
  width: 250px;
  padding: 10px;
  z-index: 2;
  top: 0px;
  background-color: #fbeade;
  color: #312c2c;
  box-shadow: -3px 11px 9px -11px rgba(0,0,0,0.75);
  left: 45%;
  opacity: 0;
  font-size: .8em;
  transition: opacity 0.3s ease-in;
}
.updateMessage.close{
  top: 25px;
}
.updateMessage.display{
  opacity: 1;
  top:25px;
  transition: all 0.8s ease-in;
}

.updateRes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.updateMessage img {
  width: 25px;
}

@media only screen and (max-width: 48em) {
  .updateRes{
    height: 30px;
  }
  .updateMessage{
    left: 17%;
  }
  
}
